<aside class="left-sidebar" data-sidebarbg="skin6">
    <!-- Sidebar scroll-->
    <div class="scroll-sidebar">
      <!-- Sidebar navigation-->
      <nav class="sidebar-nav">
        <ul id="sidebarnav">
          <!-- Dashboard luôn hiển thị cho tất cả -->
          <li class="sidebar-item">
            <a class="sidebar-link waves-effect waves-dark sidebar-link" href="{{ url_for('home_blueprint.default') }}" aria-expanded="false">
              <i class="mdi me-2 mdi-gauge"></i>
              <span class="hide-menu">Dashboard</span>
            </a>
          </li>
  
          <!-- Phần Input -->
          <li class="sidebar-item">
            <a class="sidebar-link has-arrow waves-effect waves-dark" href="javascript:void(0)" aria-expanded="false">
              <i class="mdi me-2 mdi-earth"></i>
              <span class="hide-menu">Input</span>
            </a>
            <ul aria-expanded="false" class="collapse first-level">
              <li class="sidebar-item">
                <a href="{{ url_for('home_blueprint.input_status') }}" class="sidebar-link">
                  <i class="mdi mdi-eye"></i>
                  <span class="hide-menu">View Status</span>
                </a>
              </li>
              <li class="sidebar-item">
                <a href="{{ url_for('home_blueprint.add_rule') }}" class="sidebar-link">
                  <i class="mdi mdi-plus"></i>
                  <span class="hide-menu">Add Rules</span>
                </a>
              </li>
            </ul>
          </li>
  
          <!-- Phần Output -->
          <li class="sidebar-item">
            <a class="sidebar-link has-arrow waves-effect waves-dark" href="javascript:void(0)" aria-expanded="false">
              <i class="mdi me-2 mdi-book-open-variant"></i>
              <span class="hide-menu">Output</span>
            </a>
            <ul aria-expanded="false" class="collapse first-level">
              <li class="sidebar-item">
                <a href="{{ url_for('home_blueprint.output_status') }}" class="sidebar-link">
                  <i class="mdi mdi-eye"></i>
                  <span class="hide-menu">View Status</span>
                </a>
              </li>
              <li class="sidebar-item">
                <a href="{{ url_for('home_blueprint.add_rule') }}" class="sidebar-link">
                  <i class="mdi mdi-plus"></i>
                  <span class="hide-menu">Add Rules</span>
                </a>
              </li>
            </ul>
          </li>
  
          <!-- Phần Forward -->
          <li class="sidebar-item">
            <a class="sidebar-link has-arrow waves-effect waves-dark" href="javascript:void(0)" aria-expanded="false">
              <i class="mdi me-2 mdi-help-circle"></i>
              <span class="hide-menu">Forward</span>
            </a>
            <ul aria-expanded="false" class="collapse first-level">
              <li class="sidebar-item">
                <a href="{{ url_for('home_blueprint.forward_status') }}" class="sidebar-link">
                  <i class="mdi mdi-eye"></i>
                  <span class="hide-menu">View Status</span>
                </a>
              </li>
              <li class="sidebar-item">
                <a href="{{ url_for('home_blueprint.add_rule') }}" class="sidebar-link">
                  <i class="mdi mdi-plus"></i>
                  <span class="hide-menu">Add Rules</span>
                </a>
              </li>
            </ul>
          </li>
  
          <!-- Các chức năng chung -->
          <li class="sidebar-item">
            <a class="sidebar-link waves-effect waves-dark sidebar-link" href="{{ url_for('home_blueprint.view_log') }}" aria-expanded="false">
              <i class="mdi mdi-file-document"></i>
              <span class="hide-menu">View Log</span>
            </a>
          </li>
          <li class="sidebar-item">
            <a class="sidebar-link waves-effect waves-dark sidebar-link" href="{{ url_for('home_blueprint.data_visualization') }}" aria-expanded="false">
              <i class="mdi mdi-file-chart"></i>
              <span class="hide-menu">Data Visualization</span>
            </a>
          </li>
  
          {# admin-only #}
          {% if current_user.role == 'admin' %}
          <li class="sidebar-item">
            <a class="sidebar-link waves-effect waves-dark sidebar-link" href="{{ url_for('home_blueprint.manage_users') }}" aria-expanded="false">
              <i class="mdi mdi-account-plus"></i>
              <span class="hide-menu">Manage Users</span>
            </a>
          </li>
          {% endif %}
        </ul>
      </nav>
      <!-- End Sidebar navigation -->
    </div>
    <!-- End Sidebar scroll-->
    <div class="sidebar-footer">
      <div class="row">
        <div class="col-4 link-wrap">
          <!-- Logout -->
          <a href="{{ url_for('authentication_blueprint.logout') }}" class="link" data-toggle="tooltip" title="Logout">
            <i class="mdi mdi-power"></i>
          </a>
        </div>
      </div>
    </div>
  </aside>
  